[Desktop Entry]
Type=Application
Name=Voltaire
Comment=Hardware control overlay for the ASUS ROG Flow Z13
Exec=voltaire-gui
Categories=Utility;System;
Keywords=voltaire;rog;asus;z13;lighting;z13gui;z13ctl;
