[Unit]
Description=voltaire device daemon
Requires=voltaire.socket
After=voltaire.socket

[Service]
Type=notify
ExecStart=voltaire daemon
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
